<html ng-app="listaTelefonica">
<head>
  <meta charset="UTF-8">
  <title>TESTE</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/listaTelefonicaCtrl.js"></script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<table class="table">
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Operadora</th>
			</tr>
			<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
				<td><input type="checkbox" ng-model="contato.selecionado"/></td>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
			</tr>
		</table>
		<hr/>
		
		<form name="contatoForm">
			<input class="form-control" type="text" name="nome" placeholder="Digite o nome" ng-model="contato.nome" ng-required="true"  ng-minlength="8">
			<input class="form-control" type="text" name="telefone" placeholder="Digite o telefone" ng-model="contato.telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
				<option value="">Selecione a operadora</option>
			</select>
		</form>
		<div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">Campo nome obrigatório.</div>
		<div ng-show="contatoForm.nome.$error.minlength" class="alert alert-danger">Mínimo de 6 caracteres.</div>
		<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">Telefone com formato incorrreto.</div>
		<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">Campo telefone obrigatório.</div>

		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
		<button class="btn btn-danger btn-block" ng-click="deletarContato(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Deletar</button>
		
		
	</div>
</body>
</html>